label {
  font-family: "OpenSansBold", $font-family-sans-serif;
}

.ng-valid.ng-dirty.form-control {
  border-color: $brand-green;
}

.ng-invalid.ng-dirty.form-control {
  border-color: $brand-danger;
}

legend {
  color: inherit;
}

.form-control {
  color: $text-color;
  &:focus {
    box-shadow: none;
  }
}

.input-group-addon {
  color: #fff;
  background-color: $normal-green;
}
