@import '../../styles/variables';

#tables {
  overflow-y: auto;
  &.panel {
    padding: 8px 10px 10px 10px;
    hr {
      margin: 10px 0;
    }
  }
  .side-nav {
    padding: 0;
    li {
      margin: 0;
      font-size: 0.9rem;
      a {
        padding: 0 5px;
        &:not(.button):focus {
          color: #fff;
          background: $primary-color;
        }
      }
      &.active:first-child:not(.button), &.active > a:first-child:not(.button) {
        color: #fff;
        background: $primary-color;
      }
    }
  }
}
