#contentPage {
  .list-group-item {
    padding: 3px 6px;
  }
  .processing {
    opacity: 0.6;
  }
  .table {
    font-size: 12px;
  }
  td {
    padding: 1px;
    cursor: default;
    height: 20px;
    overflow: hidden;
    span, input {
      height: 18px;
      display: block;
    }
  }
  tr {
    height: 20px;
    overflow: hidden;
  }
}

#contentTableList {
  margin-bottom: 0;
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  .list-group-item {
    cursor: pointer;
    &:hover, &.active {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

#contentTableInfo {
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
}

#contentTable {
  position: fixed;
  top: 60px;
  left: 200px;
  display: inline-block;
}
