#connectPage {
  padding-top: 100px;
  .list-group-item {
    cursor: pointer;
    &:hover, &.active {
      background-color: $brand-primary;
      color: #fff;
    }
  }
  li {
    i {
      display: block;
      width: 20px;
    }
  }
}

#connectForm {
  @include light-box-shadow();
}
