#connectPage {
  padding-top: 100px;
  .list-group-item {
    cursor: pointer;
    &:hover, &.active {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

#connectForm {
  @include light-box-shadow();
}
