@import "../../styles/variables";

#connectPage {
  padding-top: 100px;
  label.prefix, span.prefix {
    background: $success-color;
    border-color: $success-color;
    color: #fff;
    &.error {
      background: $normal-red;
      border-color: $normal-red;
    }
  }
}
