@import "../../styles/variables";

#connectPage {
  label.prefix, span.prefix {
    background: $success-color;
    border-color: $success-color;
    color: #fff;
    &.error {
      background: $normal-red;
      border-color: $normal-red;
    }
  }
}

#connectForm {
  margin-top: 5rem;
}
