#navTabs {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $light-gray;
}

.navTabItem {
  height: 30px;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  background-color: $light-gray;

  &:hover {
    background-color: $lightest-gray;
    cursor: default;
  }
  &.active {
    background-color: $lighter-gray;
    @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.25));
  }
  &.disabled {
    background-color: $lightest-gray;
  }
}
