@import '../../styles/variables';

#contentPage {
  #contentTable {
    overflow-y: auto;
    overflow-x: auto;
    & > div {
      width: 250px;
      text-align: center;
      padding: 20px 25px;
    }
    &.panel {
      padding: 0;
    }
  }
  table {
    margin-bottom: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    th {
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
    thead:first-child {
      border-left: none;
    }
    .contentHeader {
      cursor: pointer;
      &:active {
        background: darken(#F5F5F5, 10%);
      }
    }
    #sort-arrows {
      width: 10px;
      display: inline-block;
      position: relative;
      height: 20px;
    }
    #up-sort, #down-sort {
      width: 10px;
      height: 15px;
      position: relative;
      color: #D9D9D9;
      &.active {
        color: #000;
      }
    }
    #up-sort {
      top: -3px;
    }
    #down-sort {
      bottom: 13px;
    }
    tbody {
      overflow-y: auto;
    }
    th, td {
      padding: 0 5px;
      height: 20px;
      font-size: 12.5px;
    }
    tr {
      height: 20px;
      &.active {
        background: $primary-color;
        td {
          color: #fff;
        }
      }
    }
  }
  #bottomBar {
    height: 25px;
    width: 100%;
    padding: 0;
    border-top: 1px solid lighten($rethinkdb-dark, 10%);
    font-size: 12px;
    .button-group {
      display: inline-block;
      li {
        margin: 0;
        .button {
          height: 100%;
          display: inline-block;
          width: 35px;
          text-align: center;
          padding: 1px 0 2px 0;
        }
      }
    }
    #rowText {
      margin-left: 10px;
    }
    ul.pagination {
      margin-bottom: 0;
      li {
        a, button {
          color: $primary-color;
          font-size: 12px;
        }
        &.unavailable {
          a, button {
            color: #999;
          }
        }
      }
    }
  }
}
