#navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: $lighter-gray;
}

.navMenuDatabases, .navMenuItem {
  height: 70px;
  text-align: center;
  display: inline-block;
}

.navMenuDatabases {
  width: 200px;
  top: -6px;
  position: relative;
  label {
    margin-bottom: 3px;
  }
  #dbSelect {
    height: 30px;
    width: 80%;
    margin: 0 auto;
  }
}

.navMenuItem {
  width: 93px;
  background-color: $lighter-gray;
  display: inline-block;

  &:hover {
    color: $dark-gray;
  }
  &.disabled {
    background-color: $lightest-gray;
  }
  i {
    font-size: 30px;
  }

  span {
    display: inline-block;
  }

  .navMenuItemInner {
    width: 50px;
    top: 7px;
    position: relative;
  }

  &::before, &::after {
    font-size: 50px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
  }

  &::before {
    content: '[';
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    transform: translateX(15px);
  }

  &::after {
    content: ']';
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    transform: translateX(-15px);
  }

  &.active {
    &::before, &::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
}
