#favorites {
  margin-bottom: 0;
  padding: 0.8rem;
  .side-nav li a:not(.button) {
    padding: 0.2rem;
  }
  .button.alert {
    padding: 0.4rem .7rem;
  }
  .favorite {
    font-size: 1.0rem;
  }
}
