$lightest-yellow: #FDFAF2 !default;
$lighter-yellow: #faeebc !default;
$light-yellow: #f7e179 !default;
$normal-yellow: #edcb46 !default;
$dark-yellow: #b5922f !default;
$darker-yellow: #856e1e !default;
$darkest-yellow: #332a0d !default;

$lightest-orange: #FFF7F0 !default;
$lighter-orange: #F4D6BD !default;
$light-orange: #E9AC7A !default;
$normal-orange: #DE8337 !default;
$dark-orange: #CD6229 !default;
$darker-orange: #8F441D !default;
$darkest-orange: #522710 !default;

$lightest-red: #FFF2F2 !default;
$lighter-red: #fbc8c1 !default;
$light-red: #f68c80 !default;
$normal-red: #f65b4f !default;
$dark-red: #df2823 !default;
$darker-red: #7e1b18 !default;
$darkest-red: #440c0b !default;

$lightest-purple: #F7F5FF !default;
$lighter-purple: #D4CFEA !default;
$light-purple: #A99FD4 !default;
$normal-purple: #7E6FBF !default;
$dark-purple: #5E539F !default;
$darker-purple: #423A6F !default;
$darkest-purple: #262140 !default;

$lightest-blue: #F0FBFF !default;
$lighter-blue: #b0dff4 !default;
$light-blue: #58b2e2 !default;
$normal-blue: #3b99d9 !default;
$dark-blue: #1E79D9 !default;
$darker-blue: #1A59A8 !default;
$darkest-blue: #093A93 !default;

$lightest-green: #F0FFF6 !default;
$lighter-green: #91dabe !default;
$light-green: #45d6a9 !default;
$normal-green: #1fa589 !default;
$dark-green: #1A7F68 !default;
$darker-green: #145e4d !default;
$darkest-green: #0d382d !default;

$lightest-lightGreen: #f3faf5 !default;
$lighter-lightGreen: #90ed9e !default;
$light-lightGreen: #39dd5d !default;
$normal-lightGreen: #40ce72 !default;
$dark-lightGreen: #1e7c38 !default;
$darker-lightGreen: #175d2a !default;
$darkest-lightGreen: #0f361b !default;

$lightest-grayBlue: #F5F7F7 !default;
$lighter-grayBlue: #E6EFF2 !default;
$light-grayBlue: #C3D2D9 !default;
$normal-grayBlue: #7b8e99 !default;
$dark-grayBlue: #667880 !default;
$darker-grayBlue: #435359 !default;
$darkest-grayBlue: #242E33 !default;

$lightest-gray: #FAFAFA !default;
$lighter-gray: #F2F2F2 !default;
$light-gray: #D9D9D9 !default;
$normal-gray: #A6A6A6 !default;
$dark-gray: #808080 !default;
$darker-gray: #595959 !default;
$darkest-gray: #333333 !default;

$black: #262626 !default;

$rethinkdb-dark: #585755 !default;
$rethinkdb-dark-blue: #1a2f37 !default;

$column-gutter: 0 !default;

$icon-bar-font-size: 1rem;
$icon-bar-icon-size: 1.6rem;
$icon-bar-image-width: 1.875rem;
$icon-bar-image-height: 1.875rem;
$icon-bar-item-padding: 0.5rem;
$icon-bar-disabled-opacity: 0.7;
$icon-bar-bg: $rethinkdb-dark-blue !default;

$panel-font-color: $rethinkdb-dark !default;

$tooltip-bg: $rethinkdb-dark !default;

$row-width: 100%;

$primary-color: #41728b !default;
$secondary-color: #e7e7e7 !default;
$alert-color: $normal-red !default;
$success-color: #5da489 !default;
$warning-color: $normal-yellow !default;
$info-color: $normal-blue !default;

$font-family-sans-serif: "OpenSansLight", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace !default;
