.sub-nav {
  background-color: #F2F2F2;
  padding: 5px !important;
  position: relative;
  margin-bottom: 0;
  z-index: 10000;
  box-shadow: 1px 1px 8px -4px #000;
  dd, dd.active {
    a {
      display: inline-block;
      cursor: pointer;
    }
  }
  .delete-tab {
    position: relative;
    right: -10px;
    top: -1px;
    padding: 0;
    font-size: 15px;
  }
}

#navtab-plus {
  padding: 0.28rem 1rem;
}
