<div id="contentPage" data-ng-click="ContentCtrl.offClick($event)">
    <content-table-list data-connection="ContentCtrl.connection"></content-table-list>
    <div id="contentTable" class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th data-ng-repeat="field in ContentCtrl.fields">{{ field }}</th>
            </tr>
            </thead>
            <tbody data-ng-class="{ processing: ContentCtrl.processing }">
            <tr data-ng-repeat="row in ContentCtrl.rows track by row[ContentCtrl.primaryKey]"
                data-ng-class="{ active: ContentCtrl.selectedRow === $index }"
                data-ng-click="ContentCtrl.selectRow($index)">
                <td data-ng-repeat="field in ContentCtrl.fields"
                    data-ng-click="ContentCtrl.selectField($event, $parent.$index)">
                    <span>{{ row[field] }}</span>
                    <input type="text" class="ng-hide" data-ng-model="row[field]"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <content-table-info data-connection="ContentCtrl.connection"></content-table-info>
</div>
