<!DOCTYPE html>
<html data-ng-app="Requel">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        iframe {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body class="container" data-ng-controller="MyCtrl as My">
<div>
    <div class="row">
        <div class="page-header">
            <h1>Requel Pro</h1>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="list-group">
            <a href="" class="list-group-item" data-ng-repeat="url in My.adminUrls"
               data-ng-click="My.activeAdminUrl = url" data-ng-class="{ active: My.activeAdminUrl === url }">
                {{ url }}
            </a>
        </div>
    </div>
    <div class="col-sm-9">
        <form>
            <div class="form-group">
                <label>Stuff</label>
                <input type="text" data-ng-model="stuff" class="form-control"/>
            </div>
            <div class="form-group">
                {{ stuff }}
            </div>
        </form>
    </div>
</div>
<div class="row">
    <iframe class="col-12" data-ng-src="{{ My.activeAdminUrl }}"></iframe>
</div>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
<script>
    angular.module('Requel', ['ngSanitize']).controller('MyCtrl', function ($scope, $sce) {
        $scope.stuff = 'hello';
        this.adminUrls = [
            $sce.trustAsResourceUrl('http://localhost:8080'),
            $sce.trustAsResourceUrl('http://db.codetrain.io')
        ];
        this.activeAdminUrl = '';
    });
</script>
</body>
</html>
